.nav-social {
    position: absolute; 
    top: 23em;
    .sociallogo {transition: 0.3s; a {font-size: 3em; color: white; text-decoration: none;}}
    .sociallogo:hover {transform: scale(1.2) translateX(5px);}}