button {
    background-color: var(--clr-dark1);
    height: 40px;
    width: 200px;
    padding: 0.5em 2.5vw;
    border-radius: 1.2em;
    box-shadow: 1px 1px 5px var(--clr-light2);
    cursor: pointer;
    color: var(--clr-light2); 
    text-decoration: none;
}

button:hover {
    box-shadow: 3px 3px 10px var(--clr-light2);
}

button:active {
    box-shadow: none;
}

.addBtn {
    margin-top: 10px;
}

.menuBtn {
    margin-left: 2rem;
}

.loginBtn {
    width: 100px;
    text-align: center;
}

.checkBtn {
    margin-top: 20px;
}

.nextBtn {
    margin-top: 5px;
}

.sendBtn {
    color: var(--clr-dark2); 
    height: 30px;
    width: 30px;
    background-color: var(--clr-light1);
    box-shadow: none;
    position: absolute;
    border: none;
    padding: 0.5em;
    border-radius: 50%;
    right: 0.3em;
    top: 1.3em;
    cursor: pointer;
}

.sendBtn:hover {color: var(--clr-light2); box-shadow: none;}