button {
    background-color: var(--clr-dark1);
    height: 40px;
    width: 200px;
    padding: 0.5em 2.5vw;
    border-radius: 1.2em;
    box-shadow: 3px 3px 10px var(--clr-light2);
    transition: all 0.3s;
    margin-left: 2vw;
    cursor: pointer;
    color: var(--clr-light2); 
    text-decoration: none;
}