header {
    font-size: 1.6rem;
    font-family: sans-serif;
    padding: 2em 1.5em;
    display: flex;
    justify-content:space-between;
    background-color: var(--clr-dark2-tr);
    color: var(--clr-light2);
    height: 100px;
  }

  .brand {
    font-size: 2rem; 
    display: flex;
    align-items: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    pointer-events: none;
    flex-shrink: 0;
    font-family: monospace;
}