.App {display: flex; flex-direction: column; height: 100vh;}

main {
  background-color: var(--clr-dark1-tr); 
  flex: auto; height: 100%;
  display: flex;
  justify-content: center;
}


  .wrapper {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 70%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: rgba(82, 109, 130, 0.2);
    border-radius: 20px;
   
}

input {
  box-shadow: 3px 3px 10px var(--clr-light2);
}

